; all the item in the required section needs to be filled properly

required
{
  serviceName printer
  appPrefix /printer2/service-info ;
  lifetime 1 ; in seconds
}

; additional service details, user can put as many items as desired

details
{
  description "Hp Ledger Jet super xxx"
  make "2016"
}
